@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

:root {
  --BG:#f3f3f1;
  --ALT-BG:#fff;
  --FOOTER-BG:#444444;
  --ALT-FOOTER-BG:#2a2a28;
  --TEXT-H:#2A2A28;
  --TEXT-P:#444444;
  --FONT-FAMILY:'Manrope', sans-serif;
  --BORDER:1px solid red;
}

html{
 scroll-behavior: smooth;
}

body {
background-color: var(--BG);
display: flex;
flex-direction: column;
font-family: var(--FONT-FAMILY);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 30px;
  padding-inline: 50px;
  background-color: hsla(0, 0%, 100%, 0.8);
  border-bottom: 1px solid hsla(0, 0%, 80%, 0.5);
}
.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.theme-icon {
  width: 2rem;
  height: 2rem;
}