@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

:root {
  --BG: #f3f3f1;
  --ALT-BG: #fff;
  --FOOTER-BG: #444444;
  --ALT-FOOTER-BG: #2a2a28;
  --TEXT-H: #2a2a28;
  --TEXT-P: #444444;
  --FF: "Manrope", sans-serif;
  --BORDER: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--BG);
  display: flex;
  flex-direction: column;
  font-family: var(--FF);
  font-style: normal;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-block: 30px;
  padding-inline: 5%;
  border-bottom: 1px solid hsla(0, 0%, 80%, 0.5);
  transition: top 0.4s ease;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.7); 
  backdrop-filter: blur(100px); 
  -webkit-backdrop-filter: blur(100px); 
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  */
}

header.hidden {
  top: -90px;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-left a {
  text-decoration: none;
  color: hsla(0, 0%, 0%, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.2px;
}

.header-left a:hover {
  color: hsla(0, 0%, 0%, 0.8);
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
}
.nav {
  text-decoration: none;
  color: hsla(0, 0%, 0%, 0.9);
  margin-left: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.1px;
}
.line {
  text-decoration: line-through;
}
.nav:hover, .line:hover {
  text-decoration: none;
  color: #828282;
}
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  z-index: 1002;
}

.menu-toggle span {
  display: block;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease;
  border-radius: 2px;
}

/* First line longer than second */
.menu-toggle span:first-child {
  width: 28px;
}

.menu-toggle span:last-child {
  width: 18px;
  align-self: flex-end;
}

/* Active (turned into "X") */
.menu-toggle.active span:first-child {
  transform: rotate(45deg) translate(4px, 4px);
  width: 24px;
}

.menu-toggle.active span:last-child {
  transform: rotate(-45deg) translate(3px, -3px);
  width: 24px;
}

.icon {
  border: 1px solid hsla(0, 0%, 80%, 0.8);
  border-radius: 8px;
  padding: 7px;
}

.theme-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.icon:hover {
  cursor: pointer;
}
/*main styling*/
/* Who i am styling */
.who-i-am {
  background-color: var(--ALT-BG);
  display: flex;
  flex-direction: column;
  padding-top: 160px;
  padding-inline: 8%;
  margin-bottom: 115px;
  border-radius: 0 0 60px 60px;
  padding-bottom: 150px;
}
.who-i-am h1 {
  font-size:clamp(40px,4.4vw,55px);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: #201d15;
  margin-bottom: 100px;
}
.wia-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  height: 300px;
}
.wia-image {
  border-radius: 15px;
  width: calc(50% - 20px);
  height: 300px;
}

.wia-image img {
  border-radius:15px ;
  width: 100%;
  height: 100%;
}
.wia-text {
  width: calc(50% - 20px);
}
.wia-text h3 {
  font-size: clamp(20px,2vw,24px);
  font-weight: 500;
  line-height: 33.6px;
  margin-bottom: 30px;
  color: var(--TEXT-H);
}
.wia-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  color: var(--TEXT-P);
}

.interest{
  display: flex;
  flex-direction: column;
  padding-inline: 8%;
}
.interest-h{
  font-size:clamp(32px,4.4vw,50px);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1px;
  color: var(--TEXT-H);
  margin-bottom: 25px;
}
.interest-p-container{
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.first-p{
  margin-bottom: 50px;
}

.interest-p{
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  color: var(--TEXT-P);
  width: calc(50% - 30px);
}

/* .carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: 450px;
  overflow: hidden;
  margin-bottom: 100px;
  border-radius: 15px;
  position: relative;
}

.carousel {
  overflow: hidden;
  width: 300px; 
  flex:1;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
  gap: 10px;
}

.carousel-track img {
  border-radius: 15px;
  width: calc((100% - 30px) / 4);
  width: 100%;
  height:450px; 
  object-fit: cover;
  flex-shrink: 0;
}
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
} */


.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: 450px;
  overflow: hidden;
  margin-bottom: 100px;
  border-radius: 15px;
  position: relative;
}

.carousel {
  overflow: hidden;
  flex: 1;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
  gap: 10px;
}

.carousel-item {
  flex-shrink: 0;
  width: calc((100% - 30px) / 4); /* default: 4 items per row */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
  border: 1px solid blue;
}

.carousel-caption {
  margin-top: 6px;
  font-size: 1rem;
  text-align: center;
  color: white;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}


.la-container{
 margin-bottom: 160px;
}

/* FOOTER STYLING */
.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--FOOTER-BG);
  padding-left: 100px;
  padding-block: 100px;
}
.footer-top h1 {
  font-size: clamp(32px, 4vw, 50px);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1px;
  color: white;
  margin-bottom: 7px;
}
.footer-top p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #f3f3f2;
  margin-bottom: 25px;
}
.footer-btn{
  width: 160px;
}

.footer-btn a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  padding-block: 10px;
  padding-inline: 50px;
  border-radius: 8px;
  background-color: var(--ALT-FOOTER-BG);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.footer-btn a:hover {
  background-color: white;
  color: black;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--ALT-FOOTER-BG);
  padding-inline: 50px;
  padding-top: 55px;
  padding-bottom: 70px;
}

.fb-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid hsla(0, 0%, 80%, 0.2);
}
.fb-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.fb-left-logo a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  color: white;
}

.fb-left-logo a:hover {
  color: #ffffffd9;
}

.fb-left-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.fb-left-links a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.1px;
  color: #afafaf;
}

.fb-left-links a:hover {
  color: white;
}

.fb-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc33;
  padding: 12px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  color: white;
}
.social-icons:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
.fb-icon {
  width: 18px;
  height: 18px;
}
.fb-bottom {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #afafaf;
  margin-top: 42px;
}

@media screen and (max-width:1024px) {
  .who-i-am{
    padding-inline: 5%;
    padding-bottom: 100px;
    margin-bottom: 60px;
  }
  .interest{
    padding-inline: 5%;
  }

  .carousel-track img {
    width: calc((100% - 20px) / 3); /* 2 gaps between 3 images */
  }
  

  .footer-top {
    padding-left: 50px;
  }
  .fb-left {
    gap: 40px;
  }
  .fb-left-links {
    gap: 20px;
  }
}

@media screen and (max-width:768px) {
  .menu-toggle {
    display: flex;
  }
  .header-navs {
    display: none;
    /* right: -70%; */
    flex-direction: row;
    gap: 1.5rem;
    transition: right 1s ease-in-out;
    z-index: 999;
    border: 1px solid blue;
  }

  .header-navs.active {
    display: flex;
    right: 0;
  }
  .who-i-am{
    padding-top: 140px;
    border-radius: 0 0 40px 40px;
  }
  .who-i-am h1{
    margin-bottom: 70px;
  }

  .wia-content {
    flex-direction: column;
    gap: 40px;
    height: fit-content;
  }
  .wia-image {
    width: 100%;
    height: 300px;
  }
  
  .wia-image img {
    width: 100%;
    height: 100%;
  }
  .wia-text {
    width: 100%;
  }
  .interest-p-container{
    flex-direction: column;
    gap: 20px;
  }
  .interest-p{
    width: 100%;
  }
  .no-b{
    display: none;
  }
  .interest-image{
    margin-bottom: 70px;
  }

  /* .carousel-track img {
    width: calc((100% - 10px) / 2); 
  } */


  .carousel-item {
    width: calc((100% - 10px) / 2);
  }


  .la-container{
    margin-bottom: 140px;
  }

  .footer-top {
    padding-left: 0;
    padding-inline: 5%;
    padding-block: 50px 100px;
  }
  .footer-top p {
    margin-bottom: 30px;
  }

  .footer-bottom {
    padding-inline: 20px;
  }

  .fb-top {
    flex-direction: column;
    justify-content: center;
  }
  .fb-left {
    flex-direction: column;
    gap: 30px;
  }
  .fb-left-logo a {
    font-size: 18px;
    line-height: 22px;
  }

  .fb-left-links {
    flex-direction: row;
    gap: 40px;
    margin-bottom: 30px;
  }

  .fb-left-links a {
    font-size: 16px;
    line-height: 27px;
  }
  .fb-right {
    gap: 25px;
  }
}

@media screen and (max-width:425px) {
  .who-i-am{
    padding-bottom: 60px;
    border-radius: 0 0 30px 30px;
  }
  .who-i-am h1{
    margin-bottom: 40px;
  }
  /* .carousel-track img {
    width: 100%; 
  } */

    .carousel-item {
      width: 100%;
    }

  .footer-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .footer-btn a {
    padding-block: 12px;
    padding-inline: 0px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 19px;
  }
  .fb-left-links {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    margin-bottom: 30px;
  }

  .fb-left-links a {
    font-size: 14px;
    line-height: 27px;
  }
}

@media screen and (max-width:375px) {
  .wia-image {
    height: 250px;
  }

  .fb-left-links {
    gap: 20px;
  }
}

@media screen and (max-width:320px) {
  .wia-image {
    height: 220px;
  }

  .fb-left-links a {
    font-size: 12px;
  }
}