@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

:root {
  --BG: #f3f3f1;
  --ALT-BG: #fff;
  --FOOTER-BG: #444444;
  --ALT-FOOTER-BG: #2a2a28;
  --TEXT-H: #2a2a28;
  --TEXT-P: #444444;
  --FF: "Manrope", sans-serif;
  --BORDER: 1px solid red;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--BG);
  display: flex;
  flex-direction: column;
  font-family: var(--FF);
  font-style: normal;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-block: 30px;
  padding-inline: 5%;
  /* border-bottom: 1px solid hsla(0, 0%, 80%, 0.5); */
  transition: top 0.4s ease;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

header.hidden {
  top: -90px;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-left a {
  text-decoration: none;
  color: hsla(0, 0%, 0%, 0.6);
  font-size: 16px;
  font-weight: 400px;
  line-height: 19px;
  letter-spacing: -0.2px;
}

.header-left a:hover {
  color: hsla(0, 0%, 0%, 0.8);
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
}
.header-navs ul {
  list-style-type: none;
  display: flex;
}

.nav {
  display: block;
  text-decoration: none;
  color: hsla(0, 0%, 0%, 0.9);
  margin-left: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.1px;
}
.nav:hover {
  color: #828282;
}
.strike {
  text-decoration: line-through;
}

.menu-toggle {
  display: none;
}

.icon {
  border: 1px solid hsla(0, 0%, 80%, 0.8);
  border-radius: 8px;
  padding: 7px;
}

.theme-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.icon:hover {
  cursor: pointer;
}

.intro {
  padding-top: 160px;
  background-color: var(--ALT-BG);
  display: flex;
  flex-direction: column;
  padding-inline: 19.5%;
  border-radius: 0 0 60px 60px;
  margin-bottom: 90px;
}
.intro h1 {
  font-size: clamp(40px, 4.4vw, 55px);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: var(--TEXT-H);
  margin-bottom: 30px;
}

.intro p {
  font-size: clamp(20px, 3vw, 24px);
  font-weight: 500;
  line-height: 1.4;
  color: var(--TEXT-H);
  margin-bottom: 35px;
}
.intro-btn {
  width: fit-content;
  margin-bottom: 95px;
  cursor: pointer;
}
.intro-btn a:any-link {
  color: var(--TEXT-H);
  text-decoration: none;
  border: 1px solid hsla(0, 0%, 80%, 0.8);
  border-radius: 5px;
  padding-block: 7px;
  padding-inline: 22px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  transition: all 0.3s ease-in-out;
}
.intro-btn a:hover {
  background-color: var(--TEXT-H);
  color: #e8e9ee;
}

.content {
  display: flex;
  flex-direction: column;
  padding-inline: 19.5%;
  margin-bottom: 150px;
}
.content h2 {
  font-size: clamp(25px, 3vw, 30px);
  font-weight: 500;
  line-height: 1.3;
  color: var(--TEXT-H);
  margin-bottom: 25px;
}
.content ul {
  list-style: none;
  /* list-style-position: inside; */
  margin-bottom: 48px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  color: var(--TEXT-P);
}
.content li {
  position: relative;
  padding-left: 1.2em;
  margin-bottom: 5px;
}

.styled-text {
  font-weight: 700;
}

/* FOOTER STYLING */
.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--FOOTER-BG);
  padding-left: 100px;
  padding-block: 100px;
}
.footer-top h1 {
  font-size: clamp(32px, 4vw, 50px);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1px;
  color: white;
  margin-bottom: 7px;
}
.footer-top p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #f3f3f2;
  margin-bottom: 25px;
}
.footer-btn {
  width: 160px;
}

.footer-btn a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  padding-block: 10px;
  padding-inline: 50px;
  border-radius: 8px;
  background-color: var(--ALT-FOOTER-BG);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.footer-btn a:hover {
  background-color: white;
  color: black;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--ALT-FOOTER-BG);
  padding-inline: 50px;
  padding-top: 55px;
  padding-bottom: 70px;
}

.fb-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid hsla(0, 0%, 80%, 0.2);
}
.fb-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.fb-left-logo a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  color: white;
}

.fb-left-logo a:hover {
  color: #ffffffd9;
}

.fb-left-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.fb-left-links a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.1px;
  color: #afafaf;
}

.fb-left-links a:hover {
  color: white;
}

.fb-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc33;
  padding: 12px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  color: white;
}
.social-icons:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
.fb-icon {
  width: 18px;
  height: 18px;
}
.fb-bottom {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #afafaf;
  margin-top: 42px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-inline: 5%;
    margin-bottom: 60px;
  }
  .content {
    padding-inline: 8%;
    margin-bottom: 50px;
  }
  .footer-top {
    padding-left: 50px;
  }
  .fb-left {
    gap: 40px;
  }
  .fb-left-links {
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1001;
  }

  .menu-toggle .line {
    height: 2px;
    background-color: black;
    margin: 5px 0;
    transition: all 0.4s ease;
  }

  .menu-toggle .line:first-child {
    width: 28px;
  }

  .menu-toggle .line:last-child {
    width: 18px;
    align-self: flex-end;
  }
  .menu-toggle.active .line:first-child {
    transform: rotate(45deg) translate(5px, 5px);
    width: 24px;
  }

  .menu-toggle.active .line:last-child {
    transform: rotate(-45deg) translate(3.5px, -3.5px);
    width: 24px;
    align-self: auto;
  }

  .header-navs {
    height: 0px;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: var(--BG);
    transition: all 0.7s;
    color: whitesmoke;
    overflow: hidden;
  }

  .header-navs.active {
    height: 100vh;
  }

  .header-navs ul {
    display: block;
    width: fit-content;
    margin: 90px auto 0 auto;
    text-align: center;
    transition: all 0.4s;
    opacity: 0;
  }

  .header-navs.active ul {
    opacity: 1;
  }

  .nav {
    margin-left: 0;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
  }

  .intro {
    padding-top: 140px;
    border-radius: 0 0 30px 30px;
  }
  .intro-btn {
    margin-bottom: 70px;
  }
  .content {
    margin-bottom: 40px;
  }

  .footer-top {
    padding-left: 0;
    padding-inline: 5%;
    padding-block: 50px 100px;
  }
  .footer-top p {
    margin-bottom: 30px;
  }

  .footer-bottom {
    padding-inline: 20px;
  }

  .fb-top {
    flex-direction: column;
    justify-content: center;
  }
  .fb-left {
    flex-direction: column;
    gap: 30px;
  }
  .fb-left-logo a {
    font-size: 18px;
    line-height: 22px;
  }

  .fb-left-links {
    flex-direction: row;
    gap: 40px;
    margin-bottom: 30px;
  }

  .fb-left-links a {
    font-size: 16px;
    line-height: 27px;
  }
  .fb-right {
    gap: 25px;
  }
}
@media screen and (max-width: 425px) {
  .intro-btn {
    margin-bottom: 60px;
  }
  .content {
    margin-bottom: 40px;
  }

  .footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .footer-btn a {
    padding-block: 12px;
    padding-inline: 0px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 19px;
  }
  .fb-left-links {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    margin-bottom: 30px;
  }

  .fb-left-links a {
    font-size: 14px;
    line-height: 27px;
  }
}

@media screen and (max-width: 375px) {
  .fb-left-links {
    gap: 20px;
  }
}

@media screen and (max-width: 320px) {
  .no-b {
    display: none;
  }
  .fb-left-links a {
    font-size: 12px;
  }
}
